doctype html
html(lang="en")
    head
        include partials/header
    body.login 
        .contenedor-formulario 
            h1= nombrePagina 
            p Agrega tu correo email para restablecer la contraseña
            if locals.mensajes 
                .alertas 
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error
                                
            form.caja-login(method="POST" action="/restablecer") 
                .campo  
                    label(for="email") E-mail 
                    input(type="email" name="email" placeholder="Ingresa tu email" value= email)
                .campo.enviar
                    input.boton(type="submit"  value="Restablecer password")
                .campo.acciones 
                    a(href="/iniciar-sesion") Ya lo recorde!!! -  Volver a login 
